.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto 10px;
}

.button {
  margin-bottom: 20px !important;
}

.ragioGroup {
  margin-top: 10px;
  flex-direction: row !important;
  gap: 20px;
  justify-content: center;
}

.alert {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
