.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  /* max-width: 60%; */
  /* margin: 0 auto 20px; */
}

.students-filter-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.fields {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  gap: 16px;
}

.actions {
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
