.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px gray;
}

.account-wrapper {
  display: flex;
  align-items: center;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
