:root {
  --light-blue: #90caf925;
  --gray: #dddddd;
  --root-bg-color: rgb(19, 173, 163);
  --root-bg-gradient: linear-gradient(90deg, rgba(19, 173, 163, 1) 0%, rgba(102, 92, 206, 1) 100%);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
}

html,
body {
  overflow-x: hidden;
  /* background-color: #d3e3fd; */
  /* background-color: #f4f9ff; */
  /* background-color: var(--light-blue); */
}

body {
  /* background: rgb(72, 34, 55);
  background: linear-gradient(90deg, rgba(72, 34, 55, 1) 0%, rgba(9, 46, 90, 1) 100%);
  background-image: url("./assets/background_small.jpg");
  background-image: url("./assets/background.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; */

  background: var(--root-bg-color);
  background: var(--root-bg-gradient);
}

.layout {
  margin-top: 100px;
  padding: 40px 0 10px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  min-height: calc(100vh - 100px);
  height: 100%;
  /* background-color: #fff; */
}
.container-wrapper {
  background-color: #fff;
  border-radius: 8px;
  /* border-radius: 60px; */
  box-shadow: 0 0 15px gray;
  margin: 0 32px 32px;
}
.container {
  /* background-color: #fff; */
  max-width: 1300px;
  /* padding: 0 20px; */
  position: relative;

  padding: 40px;
  margin: 0 auto;
  /* border-radius: 40px; */
  /* box-shadow: 0 0 15px gray; */
}

.test {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pdf-iframe iframe {
  width: 100%;
  height: 700px;
}

.alert {
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 99;
}

.back-button {
  left: 20px;
  top: 40px;
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.back-button img,
.back-button svg {
  margin-right: 10px;
}

.back-button span {
  /* color: rgba(0, 0, 0, 0.8); */
  color: var(--gray);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.table-row:hover {
  background-color: var(--light-blue);
}

.outlined-button-wrap {
  max-width: 250px;
  padding: 1rem;
  position: relative;
  background: var(--root-bg-color);
  background: var(--root-bg-gradient);
  padding: 3px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s linear;
}
/* 
.outlined-button {
  border-radius: 16px;
  background: #fff;
  color: black;
  padding: 8px 16px;
  transition: all 0.3s linear;
}
.outlined-button:hover {
  background: var(--root-bg-color);
  background: var(--root-bg-gradient);
  transition: all 0.3s linear;
}
.outlined-button:hover .outlined-button-text {
  transition: all 0.3s linear;
  background: transparent;
  color: white;
  -webkit-text-fill-color: white;
}

.outlined-button-text {
  transition: all 0.3s linear;
  font-size: 18px !important;
  font-weight: 700 !important;
  background: -webkit-linear-gradient(90deg, rgba(19, 173, 163, 1) 0%, rgba(102, 92, 206, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
